.example-spacer {
  flex: 1 1 auto;
}

.example-container {
  width: auto;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav {
  padding: 20px;
  align-items: flex-start;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.content {
  height: 100vh;
  background-color: white;
}
